main {
    display: flex;
    height: 70vh;

    nav {
        flex: 1;
        height: 100%;
        /* background-color: red; */
    }

    .main-section {
        flex: 4;
        height: 100%;
        display: grid;
        grid-template-columns: 3fr 2fr;
        grid-template-rows: 50% 50%;
        gap: 5%;


    }
}

@media screen and (max-width: 425px) {
    main {
        display: block;
        height: auto;
        // background: red;

        nav {
            display: none;
        }

        .main-section {
            // display: grid;
            // grid-template-columns: 1fr;
            // grid-template-rows: none;
            display: flex;
            flex-direction: column;

            section {
                margin: 5% 0;

                h2 {
                    margin-bottom: 3%;
                }
            }
        }
    }
}